#playlist-songs {
	width: 430px;
	height: 100%;
	background-color: var(--foreground-color);
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	padding: 8px 9px;
	visibility: visible;
	justify-content: start;
	list-style: none;

	@media (max-width: 700px) {
		height: 280px;
		width: 280px;
		padding: 5px 6px;
		overflow-y: scroll;
		overflow-x: hidden;
		scrollbar-color: var(--background-color) var(--secondary-color);
		scrollbar-width: thin;
	}
}

.playlist-song {
	display: flex;
	height: 55px;
	justify-content: space-between;
	align-items: center;
	padding: 5px;

	outline-color: var(--highlight-color);

	&:focus {
		outline-style: dashed;
		outline-width: 2px;
	}

	@media (max-width: 700px) {
		justify-content: space-between;
	}
}

.playlist .playlist-song:not(:last-child) {
	border-bottom: 1px solid var(--background-color);
}

[aria-current='true'] {
	background-color: var(--background-color);
}

[aria-current='true'] p {
	color: var(--highlight-color);
}

.playlist-song__info {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	column-gap: 7px;
	padding: 5px 0;
	font-family: var(--font-family);
}

#player-song-title,
#player-song-artist {
	margin: 0;
}

#player-song-artist {
	color: var(--highlight-color);
	font-size: 0.75rem;
}

#player-song-title {
	font-size: 1.125rem;
}

.playlist-song__title {
	font-size: 0.85rem;
	width: 241px;
	text-align: left;

	@media (max-width: 700px) {
		width: 140px;
	}
}

.playlist-song__artist {
	font-size: 0.725rem;
	width: 80px;

	@media (max-width: 700px) {
		width: 40px;
	}
}

.playlist-song__duration {
	font-size: 0.725rem;
	margin: auto;
	font-family: var(--font-headline);
	width: 30px;
}

.playlist-song__delete {
	padding: 0;
	width: 20px;
	height: 20px;
}

.playlist-song__delete,
.playlist-song__delete {
	fill: var(--foreground-color);
}

.playlist-song__delete:hover circle,
.playlist-song__delete:focus circle {
	fill: #ff0000;
}
