:root {
	--primary-color: #ffffff;
	--secondary-color: #9cbff3;
	--app-background-color: #0099ff;
	--background-color: #0000ff;
	--foreground-color: #1a50d8;
	--highlight-color: #ffff00;

	--root-font-size: 16px;
	font-size: var(--root-font-size);

	--font-headline: 'Roboto Mono', monospace;
	--font-family: 'Lato', sans-serif;
}
